#**/raw/*
raw/*/*
.Rproj.user
report/**
#!outputs/
outputs/*csv
outputs/*/*
outputs/*/*/*
raw/*/*
raw/*/*gz
logs/*
.claude
.vscode
pycache/
__pycache__/
*.pyc
.ipynb_checkpoints
.DS_Store
*.log
*.aux
.coverage
seednap.egg-info/
/docs
mkdocs.yml
README.md.backup
.env